<!--
RUTA: MiniERP_Suministros/MiniERP_Suministros.client/src/app/components/widgets/customers-widget.component.html
Descripción: Plantilla del widget de clientes. Incluye buscador, tabla editable en línea y acciones por fila.
-->
<div class="row control-box">
  <div class="col-lg-8">
    <div class="search-box">
      <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'customersWidget.management.Search' | translate}}" />
    </div>
  </div>
</div>

<ngx-datatable class="material colored-header sm table-hover"
               [loadingIndicator]="loadingIndicator"
               [rows]="rows"
               [rowHeight]="35"
               [headerHeight]="37"
               [footerHeight]="35"
               [columns]="columns"
               [messages]="{ emptyMessage: ('customersWidget.table.NoCustomers' | translate), totalMessage: '', selectedMessage: '' }"
               [scrollbarV]="verticalScrollbar()"
               [columnMode]="'force'">
</ngx-datatable>

<ng-template #nameTemplate let-row="row" let-value="value">
  @if (editing[row.$$index + '-name']) {
    <input class="inline-editor" appAutofocus type="text" [value]="value"
           (blur)="updateValue($event, 'name', row)"
           (keydown.enter)="updateValue($event, 'name', row)"
           (keydown.escape)="editing[row.$$index + '-name'] = false"/>
  }
  @else {
    <span class="inline-label" title="{{'customersWidget.table.Edit' | translate}} - {{value}}"
          (dblclick)="editing[row.$$index + '-name'] = true">
      {{value}}
    </span>
  }
</ng-template>

<ng-template #emailTemplate let-row="row" let-value="value">
  @if (editing[row.$$index + '-email']) {
    <input class="inline-editor" appAutofocus type="email" [value]="value"
           (blur)="updateValue($event, 'email', row)"
           (keydown.enter)="updateValue($event, 'email', row)"
           (keydown.escape)="editing[row.$$index + '-email'] = false"/>
  }
  @else {
    <span class="inline-label" title="{{'customersWidget.table.Edit' | translate}} - {{value}}"
          (dblclick)="editing[row.$$index + '-email'] = true">
      {{value}}
    </span>
  }
</ng-template>

<ng-template #phoneTemplate let-row="row" let-value="value">
  @if (editing[row.$$index + '-phoneNumber']) {
    <input class="inline-editor" appAutofocus type="text" [value]="value"
           (blur)="updateValue($event, 'phoneNumber', row)"
           (keydown.enter)="updateValue($event, 'phoneNumber', row)"
           (keydown.escape)="editing[row.$$index + '-phoneNumber'] = false"/>
  }
  @else {
    <span class="inline-label" title="{{'customersWidget.table.Edit' | translate}} - {{value}}"
          (dblclick)="editing[row.$$index + '-phoneNumber'] = true">
      {{value}}
    </span>
  }
</ng-template>

<ng-template #actionsTemplate let-row="row">
  <a class="btn btn-link btn-sm" href="javascript:;" ngbTooltip="{{'customersWidget.management.Delete' | translate}}"
     container="body" (click)="delete(row)">
    <i class="fa fa-times"></i>
  </a>
</ng-template>
