# -----------------------------------------------------------------------------
# Archivo .gitignore para MiniERP_Suministros.client
#
# Este archivo especifica los archivos y carpetas que deben ser ignorados por Git
# en el proyecto MiniERP_Suministros.client. Ignorar estos archivos ayuda a evitar
# que archivos temporales, de compilación, dependencias y configuraciones locales
# sean incluidos en el control de versiones.
#
# Referencia: https://docs.github.com/get-started/getting-started-with-git/ignoring-files
# -----------------------------------------------------------------------------

# Salida compilada de la aplicación Angular
/dist
/tmp
/out-tsc
/bazel-out

# Dependencias de Node.js
/node_modules
npm-debug.log
yarn-error.log

# Archivos y carpetas de configuración de IDEs y editores
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.vs

# Configuración de Visual Studio Code (excepto archivos de configuración recomendados)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Archivos y carpetas misceláneos generados por herramientas de Angular y otros
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Archivos de sistema generados por macOS y Windows
.DS_Store
Thumbs.db
