<?xml version="1.0" encoding="utf-8"?>
<!--
  Archivo de configuración de NuGet para el proyecto MiniERP_Suministros.client.

  Este archivo define las fuentes de paquetes NuGet que se utilizarán para restaurar dependencias.
  - <packageSources>: Lista de orígenes de paquetes habilitados.
    - <clear />: Elimina cualquier origen de paquete previamente definido.
    - <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />: Agrega el origen oficial de NuGet.
  - <disabledPackageSources>: Lista de orígenes de paquetes deshabilitados.
    - <clear />: Elimina cualquier origen de paquete deshabilitado previamente.

  Modifique este archivo si necesita agregar, quitar o deshabilitar orígenes de paquetes adicionales.
-->
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>
